<a href="https://colab.research.google.com/github/ferranfont/Introduccion_al_trading_algoritmico/blob/main/mi_primer_dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install XlsxWriter

In [ ]:
import pandas as pd
import numpy as np
import requests
import matplotlib
import xlsxwriter
import math

In [ ]:
acciones = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/sp_500_stocks.csv')
acciones

In [ ]:
symbol='MSC'
api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/quote?token=Tpk_059b97af715d417d9f49f50b51b1c448'
data = requests.get(api_url).json()
data

In [ ]:
# Aqui definimos la estructura de nuestro DataFrame
mis_columnas= ['Ticker','Precio', 'Capitalización','Acciones a comprar']
final_dataframe = pd.DataFrame([],columns =mis_columnas)
final_dataframe

In [ ]:
final_dataframe = final_dataframe.append(
                                        pd.Series(['BA', 
                                                   data['latestPrice'], 
                                                   data['marketCap'], 
                                                   'N/A'], 
                                                  index = mis_columnas), 
                                        ignore_index = True)
final_dataframe

In [ ]:
# Bucle que recorre el fichero acciones y lee la columna Ticker
for symbol in acciones['Ticker']:
  print (symbol)

In [ ]:
# Pasamos un adejetivo a una cadena que creamos con f
adjetivo = 'peligroso'
caracteristica = f'mi perro es {adjetivo}'
print(caracteristica)

In [27]:
#for i in acciones['Ticker'][:80]: #para no ralentizar el proceso lo haremos tan sólo para las primeros 80 símbolos [:80]
for i in acciones['Ticker']:
  api_url = f'https://sandbox.iexapis.com/stable/stock/{i}/quote?token=Tpk_059b97af715d417d9f49f50b51b1c448'
  data = requests.get(api_url).json()
  final_dataframe = final_dataframe.append(
                                        pd.Series([i, 
                                                   data['latestPrice'], 
                                                   data['marketCap'], 
                                                   'N/A'], 
                                                  index =mis_columnas), 
                                        ignore_index = True)

JSONDecodeError: ignored

In [12]:
final_dataframe.head(35)

   Ticker    Precio Capitalización Acciones a comprar
0      BA    4.9343      458551308                N/A
1       A  133.7800    40128884377                N/A
2     AAL   17.9400    11607318941                N/A
3     AAP  225.2000    13850120255                N/A
4    AAPL  169.6000  2860433345097                N/A
5    ABBV  149.7700   261399558163                N/A
6     ABC  146.2000    31041132569                N/A
7    ABMD  299.1600    14112528848                N/A
8     ABT  119.8700   208892617396                N/A
9     ACN  336.7000   213535546698                N/A
10   ADBE  462.7600   211733519469                N/A
11    ADI  165.5800    87845170620                N/A
12    ADM   77.1200    43826051206                N/A
13    ADP  204.1300    87789789098                N/A
14   ADSK  227.5700    49940967382                N/A
15    AEE   88.2900    22813795122                N/A
16    AEP   87.5100    44894110186                N/A
17    AES   21.7800    14226496466                N/A
18    AFL   65.7800    42725890715                N/A
19    AIG   63.7100    52325581460                N/A
20    AIV    7.0800     1095569081                N/A
21    AIZ  173.7800     9509901657                N/A
22    AJG  161.5800    33385859715                N/A
23   AKAM  102.3400    16949044393                N/A
24    ALB  191.6600    22551464213                N/A
25   ALGN  506.3500    39378781408                N/A
26    ALK   61.5000     7489823315                N/A
27    ALL  130.9200    36166574334                N/A
28   ALLE  117.2900    10071641133                N/A
29   ALXN  187.0000    40861288127                N/A
30   AMAT  137.7700   123480255849                N/A
31   AMCR   12.0000    18183882511                N/A
32    AMD  113.9300   138721805361                N/A
33    AME  129.9100    30102174515                N/A
34   AMGN  228.1700   129899892076                N/A

In [22]:
# Entrada de datos con filtro de control y funciones try: except:

edad = input('Entra tu edad: ')
try:
  edad = float(edad)
except:
  print('\nTu edad debe ser un número !')

Entra tu edad: no lo se

Tu edad debe ser un número !

In [30]:
# Con el imput estamos obteniendo una cadena String, y lo que tenemos que hacer es convertirlo en un valor integer o float
portfolio_size =  input('Entra el tamaño de tu portfolio: ')

try:
  portfolio_size = float(portfolio_size)

except:
  print ('\nTu portafolio debe ser un valor !')

Entra el tamaño de tu portfolio: 10000

In [36]:
# Ahora vamos a calcular el valor de las posiciones

n_valores= len(final_dataframe.Precio)
print ('Número de valores totales' ,n_valores)

n_acciones_a_comprar = portfolio_size/n_valores
print ('Cantidad a comprar: ',n_acciones_a_comprar)

# No podemos comprar media accion, por eso hay que redondear, pero en este caso, si redondeamos hacia arriba, podría pasar que nos faltara capital: Método math. floor.

n_acciones_a_comprar = math.floor(n_acciones_a_comprar) # redondea siempre hacia abajo: "floor"
print ('Cantidad redondeada a comprar:',n_acciones_a_comprar)

Número de valores totales 628
Cantidad a comprar:  15.92356687898089
Cantidad redondeada a comprar: 15

In [52]:
# Cómo acceder a una fila determinada del DataFrame con la funcion loc[]

filtro = final_dataframe.loc[358]
print(filtro)

# Cómo acceder a una fila determinada del DataFrame pero mostrar tan sólo una columna
filtro = final_dataframe.loc[358,'Capitalización']
print('\nLa Capitalización de este valor asciende a:', filtro)

Ticker                         GD
Precio                     223.69
Capitalización        61717711304
Acciones a comprar            N/A
Name: 358, dtype: object

La Capitalización de este valor asciende a: 61717711304

In [54]:
# Finalmente rellenaremos la columna que nos falta del dataframe -núm. de acciones a comprar- con el valor correspondiente
for i in range(0,n_valores):
  final_dataframe.loc[i,'Acciones a comprar'] = math.floor(portfolio_size/final_dataframe.loc[i,'Precio'])

final_dataframe.head(39)

   Ticker     Precio Capitalización Acciones a comprar
0      BA     4.9343      458551308               2026
1       A   133.7800    40128884377                 74
2     AAL    17.9400    11607318941                557
3     AAP   225.2000    13850120255                 44
4    AAPL   169.6000  2860433345097                 58
5    ABBV   149.7700   261399558163                 66
6     ABC   146.2000    31041132569                 68
7    ABMD   299.1600    14112528848                 33
8     ABT   119.8700   208892617396                 83
9     ACN   336.7000   213535546698                 29
10   ADBE   462.7600   211733519469                 21
11    ADI   165.5800    87845170620                 60
12    ADM    77.1200    43826051206                129
13    ADP   204.1300    87789789098                 48
14   ADSK   227.5700    49940967382                 43
15    AEE    88.2900    22813795122                113
16    AEP    87.5100    44894110186                114
17    AES    21.7800    14226496466                459
18    AFL    65.7800    42725890715                152
19    AIG    63.7100    52325581460                156
20    AIV     7.0800     1095569081               1412
21    AIZ   173.7800     9509901657                 57
22    AJG   161.5800    33385859715                 61
23   AKAM   102.3400    16949044393                 97
24    ALB   191.6600    22551464213                 52
25   ALGN   506.3500    39378781408                 19
26    ALK    61.5000     7489823315                162
27    ALL   130.9200    36166574334                 76
28   ALLE   117.2900    10071641133                 85
29   ALXN   187.0000    40861288127                 53
30   AMAT   137.7700   123480255849                 72
31   AMCR    12.0000    18183882511                833
32    AMD   113.9300   138721805361                 87
33    AME   129.9100    30102174515                 76
34   AMGN   228.1700   129899892076                 43
35    AMP   305.2400    35230188384                 32
36    AMT   238.1800   106926477721                 41
37   AMZN  3118.3800  1606357537539                  3
38   ANET   127.9800    38910677435                 78