<a href="https://colab.research.google.com/github/ferranfont/Introduccion_al_trading_algoritmico/blob/main/mi_primer_dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install XlsxWriter

In [ ]:
import pandas as pd
import numpy as np
import requests
import matplotlib
import xlsxwriter
import math

In [ ]:
acciones = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/sp_500_stocks.csv')
acciones

In [ ]:
symbol='MSC'
api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/quote?token=Tpk_059b97af715d417d9f49f50b51b1c448'
data = requests.get(api_url).json()
data

In [ ]:
# Aqui definimos la estructura de nuestro DataFrame
mis_columnas= ['Ticker','Precio', 'Capitalización','Acciones a comprar']
final_dataframe = pd.DataFrame([],columns =mis_columnas)
final_dataframe

In [ ]:
final_dataframe = final_dataframe.append(
                                        pd.Series(['BA', 
                                                   data['latestPrice'], 
                                                   data['marketCap'], 
                                                   'N/A'], 
                                                  index = mis_columnas), 
                                        ignore_index = True)
final_dataframe

In [ ]:
# Bucle que recorre el fichero acciones y lee la columna Ticker
for symbol in acciones['Ticker']:
  print (symbol)

In [ ]:
# Pasamos un adejetivo a una cadena que creamos con f
adjetivo = 'peligroso'
caracteristica = f'mi perro es {adjetivo}'
print(caracteristica)

In [27]:
#for i in acciones['Ticker'][:80]: #para no ralentizar el proceso lo haremos tan sólo para las primeros 80 símbolos [:80]
for i in acciones['Ticker']:
  api_url = f'https://sandbox.iexapis.com/stable/stock/{i}/quote?token=Tpk_059b97af715d417d9f49f50b51b1c448'
  data = requests.get(api_url).json()
  final_dataframe = final_dataframe.append(
                                        pd.Series([i, 
                                                   data['latestPrice'], 
                                                   data['marketCap'], 
                                                   'N/A'], 
                                                  index =mis_columnas), 
                                        ignore_index = True)

JSONDecodeError: ignored

In [12]:
final_dataframe.head(35)

   Ticker    Precio Capitalización Acciones a comprar
0      BA    4.9343      458551308                N/A
1       A  133.7800    40128884377                N/A
2     AAL   17.9400    11607318941                N/A
3     AAP  225.2000    13850120255                N/A
4    AAPL  169.6000  2860433345097                N/A
5    ABBV  149.7700   261399558163                N/A
6     ABC  146.2000    31041132569                N/A
7    ABMD  299.1600    14112528848                N/A
8     ABT  119.8700   208892617396                N/A
9     ACN  336.7000   213535546698                N/A
10   ADBE  462.7600   211733519469                N/A
11    ADI  165.5800    87845170620                N/A
12    ADM   77.1200    43826051206                N/A
13    ADP  204.1300    87789789098                N/A
14   ADSK  227.5700    49940967382                N/A
15    AEE   88.2900    22813795122                N/A
16    AEP   87.5100    44894110186                N/A
17    AES   21.7800    14226496466                N/A
18    AFL   65.7800    42725890715                N/A
19    AIG   63.7100    52325581460                N/A
20    AIV    7.0800     1095569081                N/A
21    AIZ  173.7800     9509901657                N/A
22    AJG  161.5800    33385859715                N/A
23   AKAM  102.3400    16949044393                N/A
24    ALB  191.6600    22551464213                N/A
25   ALGN  506.3500    39378781408                N/A
26    ALK   61.5000     7489823315                N/A
27    ALL  130.9200    36166574334                N/A
28   ALLE  117.2900    10071641133                N/A
29   ALXN  187.0000    40861288127                N/A
30   AMAT  137.7700   123480255849                N/A
31   AMCR   12.0000    18183882511                N/A
32    AMD  113.9300   138721805361                N/A
33    AME  129.9100    30102174515                N/A
34   AMGN  228.1700   129899892076                N/A

In [22]:
# Entrada de datos con filtro de control y funciones try: except:

edad = input('Entra tu edad: ')
try:
  edad = float(edad)
except:
  print('\nTu edad debe ser un número !')

Entra tu edad: no lo se

Tu edad debe ser un número !

In [30]:
# Con el imput estamos obteniendo una cadena String, y lo que tenemos que hacer es convertirlo en un valor integer o float
portfolio_size =  input('Entra el tamaño de tu portfolio: ')

try:
  portfolio_size = float(portfolio_size)

except:
  print ('\nTu portafolio debe ser un valor !')

Entra el tamaño de tu portfolio: 10000

In [36]:
# Ahora vamos a calcular el valor de las posiciones

n_valores= len(final_dataframe.Precio)
print ('Número de valores totales' ,n_valores)

n_acciones_a_comprar = portfolio_size/n_valores
print ('Cantidad a comprar: ',n_acciones_a_comprar)

# No podemos comprar media accion, por eso hay que redondear, pero en este caso, si redondeamos hacia arriba, podría pasar que nos faltara capital: Método math. floor.

n_acciones_a_comprar = math.floor(n_acciones_a_comprar) # redondea siempre hacia abajo: "floor"
print ('Cantidad redondeada a comprar:',n_acciones_a_comprar)

Número de valores totales 628
Cantidad a comprar:  15.92356687898089
Cantidad redondeada a comprar: 15

In [52]:
# Cómo acceder a una fila determinada del DataFrame con la funcion loc[]

filtro = final_dataframe.loc[358]
print(filtro)

# Cómo acceder a una fila determinada del DataFrame pero mostrar tan sólo una columna
filtro = final_dataframe.loc[358,'Capitalización']
print('\nLa Capitalización de este valor asciende a:', filtro)

Ticker                         GD
Precio                     223.69
Capitalización        61717711304
Acciones a comprar            N/A
Name: 358, dtype: object

La Capitalización de este valor asciende a: 61717711304

In [37]:
for i in range(0,n_valores):

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627