<a href="https://colab.research.google.com/github/ferranfont/Introduccion_al_trading_algoritmico/blob/main/Quant_momentum.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**QUANTITATIVE MOMENTUM SYSTEM**

In [2]:
import pandas as pd
import numpy as np
import requests
import matplotlib
import math

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [4]:
# Importamos todos los tickets del SP500
stocks = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/sp_500_stocks.csv')
stocks

    Ticker
0        A
1      AAL
2      AAP
3     AAPL
4     ABBV
..     ...
500    YUM
501    ZBH
502   ZBRA
503   ZION
504    ZTS

[505 rows x 1 columns]

In [5]:
# Hacemos un API a un end point de momentum
IEX_CLOUD_API_TOKEN = 'Tpk_059b97af715d417d9f49f50b51b1c448'
symbol='AAPL'
api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/stats?token={IEX_CLOUD_API_TOKEN}'
data = requests.get(api_url).json()
data

{'avg10Volume': 77330992,
 'avg30Volume': 97953155,
 'beta': 1.379240307622112,
 'companyName': 'Apple Inc',
 'day200MovingAvg': 164.32,
 'day30ChangePercent': 0.01845933369429388,
 'day50MovingAvg': 173.32,
 'day5ChangePercent': -0.008219058841895168,
 'dividendYield': 0.005468967260293582,
 'employees': 147582,
 'exDividendDate': '2022-01-22',
 'float': 0,
 'marketcap': 2783445219825,
 'maxChangePercent': 65.63998202039907,
 'month1ChangePercent': 0.007857366799862398,
 'month3ChangePercent': 0.04463926493855072,
 'month6ChangePercent': 0.1463370446275425,
 'nextDividendDate': '',
 'nextEarningsDate': '2022-04-14',
 'peRatio': 27.343162160278403,
 'sharesOutstanding': 16676060213,
 'ttmDividendRate': 0.9168644118987321,
 'ttmEPS': 6.09,
 'week52change': 0.2998344496525782,
 'week52high': 189.06,
 'week52highSplitAdjustOnly': 190.01,
 'week52low': 116.19,
 'week52lowSplitAdjustOnly': 117.23,
 'year1ChangePercent': 0.3056761520521576,
 'year2ChangePercent': 1.1039925860006852,
 'year5ChangePercent': 4.357546589573602,
 'ytdChangePercent': -0.05780993140563621}